<div class="main-container">
    <div class="header-div">
        <h1>Računi</h1>
    </div>
    <!-- <button (click)="kreirajPonudu()" class="dodaj" color="primary" mat-raised-button>
        <mat-icon>add</mat-icon>
        Kreiraj novi Račun
    </button> -->

    <!-- <mat-card class="novi-rn-div" *ngIf="kreiranjeNovePonude">
        <mat-form-field appearance="fill">
            <mat-label>Za radni nalog</mat-label>
            <mat-select [(ngModel)]="novaPonuda.radni_nalog">
                <mat-option *ngFor="let radni_nalog of radniNalozi" [value]="radni_nalog">
                    {{radni_nalog.id}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Datum</mat-label>
                <input [(ngModel)]="novaPonuda.datum" matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Koliko dana važi</mat-label>
                <input [(ngModel)]="novaPonuda.vazi_dana" type="number" matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Rok isporuke</mat-label>
                <input [(ngModel)]="novaPonuda.rok_isporuke" matInput [matDatepicker]="picker3">
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Radnik izdao</mat-label>
                <mat-select [(ngModel)]="novaPonuda.radnik_izdao">
                    <mat-option *ngFor="let radnik of radnici" [value]="radnik">
                        {{radnik.ime_prezime}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <button (click)="sacuvajPonudu()" class="dodaj" color="primary" mat-raised-button>
                <mat-icon>save</mat-icon>
                Sačuvaj
            </button>
            <button (click)="ponistiPonudu()" class="dodaj" color="primary" mat-raised-button>
                <mat-icon>cancel</mat-icon>
                Poništi
            </button>
        </div>
    </mat-card> -->
    <div class="cards">
        <mat-card *ngFor="let racun of racuni">
            <mat-card-content>
                <div class="card-header">
                    <div>
                        <h2>Račun ID: {{racun.id}}</h2>
                        <h4>Račun za ponudu {{racun.ponuda_id}}</h4>
                    </div>
                    <div class="hidden-div">
                        <button class="dodaj" (click)="obrisiRacun(racun)" mat-raised-button color="primary">Obriši
                            račun</button>
                    </div>
                </div>
                <mat-divider style="margin: 0.5rem 0"></mat-divider>

                <div class="datumi">
                    <div>
                        Datum prometa: <b>{{moment(racun.datum_prometa).format('DD.MM.YYYY')}}</b>
                    </div>
                    <div>Datum izdavanja: <b>{{moment(racun.datum_izdavanja).format('DD.MM.YYYY')}}</b>
                    </div>
                </div>
                <mat-divider style="margin: 0.5rem 0"></mat-divider>
                <div class="datumi">
                    <div>
                        Mesto prometa: <b>{{racun.mesto_prometa}}</b>
                    </div>
                    <div>
                        Mesto izdavanja: <b>{{racun.mesto_izdavanja}}</b>
                    </div>
                </div>
                <mat-divider style="margin: 0.5rem 0"></mat-divider>
                <div class="datumi">
                    <div>
                        Radnik fakturisao: <b>{{racun.radnik_fakturisao.ime_prezime}}</b>
                    </div>
                    <div>
                        Radnik naplatio: <b>{{racun.radnik_naplatio.ime_prezime}}</b>
                    </div>
                </div>
                <mat-divider style="margin: 0.5rem 0"></mat-divider>
                <div>
                    Ukupan iznos računa:
                    <span class="ukupan-iznos-racuna">
                        {{(+(racun.ukupan_iznos ?? 0)).toFixed(2)}}
                        <span *ngIf="racun.stavke_racuna.length > 0">
                            {{racun.stavke_racuna[0].proizvod.valuta?.oznaka}}
                        </span>
                    </span>
                </div>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Stavke računa
                            </mat-panel-title>
                            <mat-panel-description>
                                Broj stavki: {{racun.stavke_racuna?.length ?? 0}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <div class="stavka-header">
                                <div>RB</div>
                                <div>Šifra proizvoda</div>
                                <div>Proizvod</div>
                                <div>Cena</div>
                                <div>Količina</div>
                                <div>Jedinica mere</div>
                                <div>PDV</div>
                                <div>Rabat</div>
                            </div>
                            <li *ngFor="let stavka of racun.stavke_racuna; index as i;">
                                <app-stavka-racuna [stavka]="stavka"></app-stavka-racuna>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-card-content>
        </mat-card>
    </div>
</div>