<div class="main-container">
    <div class="header-div">
        <h1>Radnici</h1>
        <button (click)="addNewKlijent()" class="dodaj" color="primary" mat-raised-button>
            <mat-icon>add</mat-icon>
            Dodaj novog radnika
        </button>
        <!-- <button class="dodaj" mat-raised-button color="primary">Dodaj Model</button> -->
    </div>
    <div class="klijenti-container">
        
        <mat-card *ngIf="addingNew" class="card">
            <mat-card-content class="card-content">
                <div class="edit-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>Ime</mat-label>
                        <input matInput [(ngModel)]="noviRadnik.ime_prezime">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>JMBG</mat-label>
                        <input matInput [(ngModel)]="noviRadnik.jmbg">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Broj lične karte</mat-label>
                        <input matInput [(ngModel)]="noviRadnik.br_lk">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Pozicija</mat-label>
                        <mat-select [(value)]="noviRadnik.pozicija">
                          <mat-option *ngFor="let pozicija of pozicije" [value]="pozicija">
                            {{pozicija?.naziv ?? ''}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
        
                <div class="controls">
        
                    <mat-icon (click)="saveNoviRadnik()" fontIcon="save" #tooltip="matTooltip"
                        matTooltip="Sačuvaj" matTooltipPosition="below"></mat-icon>
        
                    <mat-icon (click)="cancelNoviRadnik()" fontIcon="cancel" #tooltip="matTooltip"
                        matTooltip="Poništi" matTooltipPosition="below"></mat-icon>
        
                </div>
            </mat-card-content>
        </mat-card>
        
        
        <ng-container *ngFor="let radnik of radnici">
            <app-radnik [radnik]="radnik" [pozicije]="pozicije" (deleteRadnikEmitter)="deleteRadnik($event)"></app-radnik>
        </ng-container>
    </div>
</div>